<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;font-weight:bold">Quizzz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink='/admin/takmicenja'>Такмичења<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Статистика</a>
            </li>
        </ul>
        <span class="navbar-text">
      <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Одјави се</a>
    </span>
    </div>
</nav>